main{
    display: flex;
    gap: 1em;
    flex-direction: column;
}


.top{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "name name"
    "contact desc";
    gap: 1em;

}
.name{
    grid-area: name;
    border: 1px solid ;
    padding: 1em;
    position: relative;
    height: 150px;
}6
.photo{
    grid-area: photo;
    border: 1px solid ;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}
.contact{
    grid-area: contact;
    border: 1px solid ;
    padding: 1em;
}
.desc{
    grid-area: desc;
    border: 1px solid ;
    padding: 1em;
}
.bottom{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "skill exp"
    "edu exp";
    gap: 1em;

}
.skills{
    grid-area: skill;
    border: 1px solid ;
    padding: 1em;
}
.edu{
    grid-area: edu;
    border: 1px solid ;
    padding: 1em;
}
.exp{
    grid-area: exp;
    border: 1px solid ;
    padding: 1em;
}
.circle{
    border-radius: 50%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 500px) {

    .bottom{
        display: flex;
        flex-direction: column;
    }
}