.container {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
}
.Contact {
    grid-area: one;
}
.Technical  {
    grid-area: two;
}
.Language {
    grid-area: three;
}
.Hobbies{
    grid-area: four;
}
.Education{
    grid-area: five;
}



main{
    display: grid;
}

.top{
    display: grid;
    grid-template-areas: "name photo"
    "contact desc";
}

.name{
    grid-area: name;
}
.photo{
    grid-area: photo ;
}
.contacts{
    grid-area: contact;
}
.intro{
    grid-area: desc;
}

.bottom{
    display: grid;
    grid-template-areas: "skills pro"
    "edu pro";
}
.skills{
    grid-area: skills;
}
.project{
    grid-area: pro;
}
.edu{
    grid-area: edu;
}